.footer {
  max-width: 880px;
  width: 100%;
  padding-top: 67px;
  padding-bottom: 60px;
  margin: 0 auto;
  left: 200px;
}
.footer__copyright {
  color: grey;
  max-width: 282px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (max-width: 619px) {
  .footer__copyright {
    color: grey;
    max-width: 282px;
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    padding-left: 145px;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    color: grey;
    max-width: 282px;
    margin: 0;
    font-size: 18px;
    height: 14px;
    padding-left: 0;
    margin-left: 19px;
  }
}
