.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
}
.modal__opened {
  display: flex;
}
.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
}
.modal__close {
  background-image: url(../images/closebutton.svg);
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}
.modal__heading {
  color: #000;
  max-width: 330px;
  max-height: 23px;
  font-size: 24px;
  font-weight: 900;
}
.modal__button {
  width: 358px;
  height: 50.51px;
  background: #000;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  margin-top: 48px;
  border: none;
  border-radius: 2px;
}
.modal__button:hover {
  opacity: 0.9;
  transition: 0.3s ease;
}
.modal__close:hover {
  opacity: 0.9;
  transition: 0.3s ease;
}
.modal__form {
  width: 358px;
  height: 27.26px;
  border: none;
  grid-template-columns: auto;
  display: grid;
  grid-gap: 27px;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 330px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
  }
  .modal__form {
    width: 238px;
    height: 27px;
  }
}
